## 문자열 포맷팅

c언어 스타일

In [3]:
name = "minsu"
score = 90
print("%s의 점수는 %d 점입니다. " % (name,score))

minsu의 점수는 90 점입니다.

Format 이용

In [4]:
name = "minsu"
score = 90
print("{}의 점수는 {} 점입니다. ".format(name,score))

minsu의 점수는 90 점입니다.

f-string 이용

In [5]:
name = "minsu"
score = 90
print(f"{name}의 점수는 {score} 점입니다. ")

minsu의 점수는 90 점입니다.

##  자릿수 채우기

In [10]:
a = 3
mystr = f"{a:02d}"
print(mystr)

03

In [11]:
a = 3
mystr = f"{a:03d}"
print(mystr)

003

In [14]:
symbol = "BTCUSDT"
print(f"{symbol:10}check")

BTCUSDT   check

## 실수(float)

In [15]:
a = 3.141592
print(f"{a:6.2f}")

  3.14

In [16]:
a = 3.141592
print(f"{a:6.3f}")

 3.142

# 인터닝(interning)
id(a)랑 id(b[0])는 같은 객체

why?

문자열: 20자 미만의 공백을 포함하지 않는 문자열
정수: -5부터 256사이의 정수

인터닝 -> 이미 생성된 객체를 재사용하는 것을 의미한다. 파이썬은 기본적으로 몇가지 제한된 경우에 대해 자동적으로 인터닝이 적용되나 개발자가 필요한 경우 함수를 써서 인터닝을 지정할 수가 있다.

In [ ]:
a = "hello"
b = ["hello","python"]

In [27]:
id(a)

2533998523760

In [28]:
id(b)

2531887406272

In [30]:
id(b[0])

2533998523760

## Immutable과 Mutable

Immutable 객체 - int,float,str,tuple

Mutable 객체 - list,dict

수정가능/수정불가능

In [1]:
a = ["python1", "python"]
id(a)

1624564259712

In [2]:
a.append("python4")
a

['python1', 'python', 'python4']

In [3]:
id(a)

1624564259712

In [4]:
id(a[0])

1624562517680

In [5]:
id(a[1])

1624513823024

In [6]:
id(a[2])

1624564258800

## 비교 연산자와 is 연산자

In [8]:
a=1000
b=1000

In [9]:
a == b

True

In [10]:
a is b

False

In [11]:
id(a),id(b)

(1624563555056, 1624563555120)

하지만 위의 내용인 인터닝에 의하여 작은 정수 값을 바인딩 하는 경우에는

In [12]:
a=3
b=3

In [13]:
a == b

True

In [14]:
a is b

True

## 리스트 컴프리헨션

리스트 컴프리헨션은 파이썬에서 기존 리스트나 이터러블 객체를 기반으로 새로운 리스트를 간결하고 직관적으로 생성하는 문법입니다.

In [15]:
even_num = [i for i in range(10) if i % 2 == 0]
print(even_num)

[0, 2, 4, 6, 8]

In [16]:
odd_num = [i for i in range(10) if i % 2 == 1]
print(odd_num)

[1, 3, 5, 7, 9]

## 튜플

패킹(packing)

In [17]:
a = 1,2
b = (1,2)
print(a, type(a))
print(b, type(b))

(1, 2) <class 'tuple'>
(1, 2) <class 'tuple'>

언패킹(unpacking)

In [18]:
data = (1,2,3)
n1,n2,n3 = data
print(n1,n2,n3)

1 2 3

함수리턴

In [19]:
def foo():
    return 1,2,3

val = foo()
print(type(val))

<class 'tuple'>

함수호출

In [22]:
def hap(num1, num2, num3, num4):
    return num1+num2+num3+num4

scores = (1,2,3,4)
result = hap(*scores)
print(result)

10

## zip과 dictionary

zip - 두 개의 리스트를 서로 묶어줄 때 사용

In [36]:
name = ['merona', 'gugucon']
price = [500,1000]

z = zip(name,price)
print(list(z))

[('merona', 500), ('gugucon', 1000)]

In [37]:
for n,p in zip(name,price):
    print(n,p)

merona 500
gugucon 1000

dictionary - key,value 값으로 이루어진 자료형

In [38]:
아이스크림1 = {"메로나":500,"구구콘":1000}
아이스크림2 = dict(메로나=500,구구콘=1000)
아이스크림3 = dict([("메로나",500),("구구콘",1000)])

setdefault메서드

In [40]:
data = {}

ret = data.setdefault('a',0)
print(ret,data)

ret = data.setdefault('a',1)
print(ret,data)

0 {'a': 0}
0 {'a': 0}

count메서드(list)

In [42]:
data = ["BTC","BTC","XRP","ETH","ETH","ETH"]

for k in set(data):
    count = data.count(k)
    print(k,count)

BTC 2
XRP 1
ETH 3

딕셔너리 컴프리헨션

In [43]:
name = ['merona','gugucon']
price = [500,1000]

icecream = {k:v for k,v in zip(name,price)}
print(icecream)

{'merona': 500, 'gugucon': 1000}

In [ ]:
name = ['merona','gugucon']
price = [500,1000]

icecream = {k:v*2 for k,v in zip(name,price)}
print(icecream)

{'merona': 1000, 'gugucon': 2000}

In [45]:
name = ['merona','gugucon','bibibig']
price = [500,1000]

icecream = {k:v for k,v in zip(name,price) if v<1000}
print(icecream)

{'merona': 500}

## 네임드튜플(namedtuple)

namedtuple은 클래스처럼 객체를 생성할 수 있고, 딕셔너림 처럼 label 부여가능

**immutable하기 때문에 클래스처럼 값 수정 불가**

In [47]:
from collections import namedtuple

Book = namedtuple('Book', ['title','price'])
mybook3 = Book("파이썬을 이용한 비트코인 자동매매", 27000)
print(mybook3.title,mybook3.price)

파이썬을 이용한 비트코인 자동매매 27000

인덱싱

In [48]:
print(mybook3[0],mybook3[1])

파이썬을 이용한 비트코인 자동매매 27000

언패킹

In [49]:
def print_book(title,price):
    print(title,price)
    
print_book(*mybook3)

파이썬을 이용한 비트코인 자동매매 27000